<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.aoyo_hou.mapper.ImgMapper">


    <!--
   //
   //前台轮播图
   //
   -->


    <!-- /*轮播图全查*/
     List<AoyoCommodityImg> slideshow();-->
    <select id="slideshow" resultType="AoyoCommodityImg">
        select *  from aoyo_commodity_img
    </select>

    <!--/*删除*/
    int shanchu(Integer id);-->
    <delete id="shanchu">
        delete from aoyo_commodity_img where commodity_img_id=#{commodityImgId}
    </delete>

    <!--/*回显*/
    AoyoCommodityImg huixian(Integer commodityImgId);-->
    <select id="huixian" resultType="AoyoCommodityImg">
        SELECT * from aoyo_commodity_img where commodity_img_id=#{commodityImgId}
    </select>

    <!--/*修改*/
    int Updataimage(Integer commodityId);-->
    <update id="Updataimage"  parameterType="AoyoCommodityImg">
        UPDATE aoyo_commodity_img SET commodity_img_desc=#{commodityImgDesc},commodity_img_lastupdate_time=curdate(),commodity_img_sort=#{commodityImgSort},commodity_img_status=#{commodityImgStatus } ,commodity_img_url=#{commodityImgUrl } WHERE commodity_img_id=#{commodityImgId}
       </update>







    <!--
    //
    //前台功能按钮
    //
    -->



    <!--/*前台功能按钮全查*/
    List<AoyoGroupFeaturedServices> slideshowtype();-->
    <select id="slideshowtype" resultType="AoyoGroupFeaturedServices">
        select *  from aoyo_group_featured_services
    </select>


    <!--/*前台功能按钮回显*/
    AoyoGroupFeaturedServices huixiantype(Integer featuredServicesId);-->
    <select id="huixiantype" resultType="AoyoGroupFeaturedServices">
        SELECT * from aoyo_group_featured_services where featured_Services_id=#{featuredServicesId}
    </select>

    <!--  /*功能按钮修改*/
    int Updataimagetype(AoyoGroupFeaturedServices type11);-->
    <update id="Updataimagetype"  parameterType="AoyoGroupFeaturedServices">
        UPDATE aoyo_group_featured_services SET
          function_button_name=#{functionButtonName},
          create_time=curdate(),
          featured_services_desc=#{featuredServicesDesc},
          featured_services_isenable=#{featuredServicesIsenable } ,
          function_button_url=#{functionButtonUrl}
          where
          featured_services_id=#{featuredServicesId}
          </update>




    <!--

    app分类列表

    -->


    <!--/*app分类列表展示*/
    List<AoyoAppClass> appFenLei();-->
    <select id="appFenLei" resultType="AoyoAppClass">
        select *  from aoyo_app_class
    </select>

    <!--/*app分类列表修改*/
    int appFenLeibyId(AoyoAppClass appClass);-->
    <update id="appFenLeibyId" parameterType="AoyoAppClass">
       UPDATE aoyo_app_class SET
          app_class_name=#{appClassName},
          app_class_status=#{appClassStatus},
          app_Describe=#{appDescribe},
		  create_time=curdate()
          where
          app_class_id=#{appClassId}
    </update>

    <!--/*app商品品牌展示*/
    List<AoyoCommodityBrand> appBrand();-->
    <select id="appBrand" resultType="AoyoCommodityBrand">
        select *  from aoyo_commodity_brand
    </select>


    <!--/*app商品品牌修改*/
    int appBrandbyId(AoyoCommodityBrand commodityBrand);-->
    <update id="appBrandbyId" parameterType="AoyoCommodityBrand">
       UPDATE aoyo_commodity_brand SET
          commodity_brand_name=#{commodityBrandName},
          commodity_brand_desc=#{commodityBrandDesc},
		  commodity_brand_status=#{commodityBrandStatus},
		  end_update_time=now()
          where
          commodity_brand_id=#{commodityBrandId}
    </update>


    <!--/*app商品功能模块*/
    List<AoyoAppClass> appcommodity();-->
    <select id="appcommodity" resultType="AoyoAppClass">
       select *  from aoyo_app_class
    </select>

    <!--/*app商品功能模块修改*/
    int UpdataAppCommodity(AoyoAppClass appClass);-->
    <update id="UpdataAppCommodity" parameterType="AoyoAppClass">
       UPDATE aoyo_app_class SET
          app_class_name=#{appClassName},
          app_sort=#{appSort},
		  app_class_icon=#{appClassIcon}
          where
          app_class_id=#{appClassId}
    </update>

</mapper>
